@page "/"
@inject IJSRuntime JS

<NavMenu Name="Home"/>

<main>
    <h1>Create4Care</h1>

    <span>Welcome to your new app.</span>

    <div id="myChartContainer">
        <canvas id="myChart"></canvas>
    </div>
</main>

@code {
    private bool _chartInitialized;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // This will invoke window.createHomeChart() in wwwroot/js/home-chart.js
            await JS.InvokeVoidAsync("createHomeChart");
            _chartInitialized = true;
        }
    }
}

<style>
main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#myChartContainer {
    height: 100%;
}
</style>