@page "/test"
@inject IJSRuntime JS

<NavMenu Name="Test" />

<main>
    <h1>Measuring with Pose Detection</h1>

    <div id="container">
        <video id="input_video"></video>
        <canvas id="output_canvas"></canvas>
    </div>
</main>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("mediapipePose");
        }
    }
}